.initial {
  filter: grayscale(0.2);
}

.title {
  color: white !important;
  font-size: 58px !important;
  text-transform: uppercase;
  text-align: right;
}

.sub-title {
  color: white !important;
  font-size: 88px !important;
  text-transform: uppercase;
  text-align: right;
}

.speaker-name {
  text-align: right;
  color: white;
  font-size: 28px;
}

.presentation-slide {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.presentation-info-container {
  text-align: left;
}

.presentation-info-container p {
  font-size: 24px;
}

.vini-image {
  object-fit: cover;
  border: 12px black solid !important;
  margin-right: 50px !important;
}

.icon {
  height: 28px;
  object-fit: cover;
  vertical-align: middle;
  margin-right: 10px !important;
}

.structure-container {
  display: flex;
  justify-content: center;
  flex: 1;
  flex-direction: row;
}

.structure-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.structure-container .divider {
  margin-left: 20px !important;
  margin-right: 20px !important;
}

.structure-container p {
  font-size: 28px !important;
}

.heuristics-container {
  display: flex;
  flex: 1;
  flex-direction: row;
  text-align: left;
  /* justify-content: space-around; */
}

.heuristics-container div:nth-child(1) {
  margin-right: 50px !important;
}

.heuristics-container div:nth-child(2) {
  margin-left: 50px !important;
}

.heuristics-container p {
  font-size: 24px !important;
}

.heuristics-subcontainer {
  width: 50vw;
}
